[Unit]
Description=uWSGI PyPI server instance
After=syslog.target

[Service]
ExecStart=/apps/venv/bin/uwsgi -H /apps/venv --ini-paste /apps/build-pypi-mongodb-webcast-series/part3/webapp/final/pypi_web_mongodb_f/production.ini
RuntimeDirectory=/apps/build-pypi-mongodb-webcast-series/part3/webapp/final/pypi_web_mongodb_f
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
