-r requirements.txt

waitress==2.1.2
Mako==1.0.7
MarkupSafe==1.0
Pygments==2.7.4
pyramid-debugtoolbar==4.4
pyramid-mako==1.0.2
WebTest==2.0.29 
atomicwrites==1.1.5 
attrs==18.1.0 
beautifulsoup4==4.6.0 
coverage==4.5.1 
more-itertools==4.2.0
pluggy==0.6.0
py==1.10.0
pytest==3.6.1 
pytest-cov==2.5.1
